In [4]:
user = input("Enter a username")
print("Hello " + user)

Hello mesut

In [5]:
"bel"+"ivme"

'belivme'

# Introduction to Data Types
```
String, # "tırnak içine koyduğumuz her şey stringdir"
Integer, # Tam sayılar, pozitif, negatif dahil
Float,  # ondalık sayılar
Boolean # sorulan sorulara True ve False şeklinde cevap verir, iki değişkeni vardır.
```

In [6]:
a = 4.59
b =5.8
c = "3.85"

print("a is ", type(a))
print("b is ", type(b))
print("c is ", type(c))
print("a :", a)
print( "b :", b)

a is  <class 'float'>
b is  <class 'float'>
c is  <class 'str'>
a : 4.59
b : 5.8

In [7]:
int(a)

4

In [8]:
str(a)
str(a)+str(b)

'4.595.8'

In [9]:
x = 34
v = "11"
y = "2.5"
z= "I am at_"


print(x-int(v))
print(x-float(y))
print(z+str(x))

23
31.5
I am at_34

In [10]:
int(3.14)

3

In [11]:
a = 36.5
b = "30"
c = "3.5"
d = " F is enough for room temprature."

print(str(a+ int(b)+ float(c))+ d)

70.0 F is enough for room temprature.

In [12]:
x = 60
y = 10
z = 30

x = y
y = z*x
z = x

print(x)
print(y)
print(z)

10
300
10

In [13]:
first_num = "5"
sec_num = "6"

print(first_num + sec_num)

56

In [14]:
first_num = "5"
sec_num = "6"

print(int(first_num)+ int(sec_num))

11

In [15]:
print(7//3) # bölme işleminde bölüm değerini vermektedir. floor division

2

In [16]:
print(7%3) # bölme işleminde kalan değeri vermektedir. modulus

1

In [17]:
print(2**3)

8

In [18]:
a = 10
a

10

In [19]:
a +=1
a

11

In [20]:
a = 8
b = 3

a +=b

a

11

In [21]:
a *=b
a

33

In [22]:
x = 3
y = 4
z = (x**2 + y**2)**0.5

print(z)

5.0

In [23]:
print("i", sep="\b")
print("will say", end="\n")
print("'i missed you'", end="\n")
print("to my mother")

i
will say
'i missed you'
to my mother

# Escape Sequences

'\n: means new line, yeni satır anlamına gelir
'\t: means new tab mark, tab işareti anlamına gelir
'\b: imleci bir karakter sola alır


sep ='\n', sep ='\t',  sep ='\b' sep içinde kullanılırsa print içindeki value lara etki eder

end ='\n' end ile kullanımlarında printin sonun uygular, bir sonraki printi de etkileyerek işleme alır

end = '\n'  : çıktıları alt alta sıralar
end = '\t'  : çıktılşarı yan yana sıralar
end = '\b'  : çıktıları yan yana sıralar fakat çıktının en sağındaki karakteri siler diğer çıktıyı birbirine yapıştırır.
end = ' '    çıktıyı yan yana sıralar

In [24]:
print("i", "will say", "to my mother",sep="\t")
print("i", "will say", "to my mother",end="\t")
# print("will say", end="\n")
print("'i missed you'", end="\t")
print("to my mother")

i	will say	to my mother
i will say to my mother	'i missed you'	to my mother

# Boolean Operations
```
or : veya, True yakalar, ilk True yakalar, Hepsi False ise sondaki False alır
and : ve, False yakalr, İlk False yakalar, Hepsi True ise sondaki True alır
not :False True, True False çevirir

satır içinde 3 ü de varsa aşağıdaki sıraya göre çözülür
not
and
or
```

In [25]:
logic = True and False or not False or False

print(logic)

True

# Truth Values of Logic Statements

False olarak kabul edilir;

 - None
 - 0, 0.0, 0j
 - '', [], {}.  bunlar False olarak kabul edilir,
 
 Geri kalan değerler True olarak kabul edilir.

In [26]:
bool("")
bool({})
bool(0)

False

In [27]:
print(2 or "hello world")
print([] or "be happy!")
print(None or ())
print({} or 0)
print({0} or False)

2
be happy!
()
0
{0}

- Kadayıf
- İç
  - Ceviz
  - Fındık
  - Fıstık
- Şerbet
  - su
  - Şeker
- Yumurta

In [28]:
kadayıf = True

# iç
ceviz = True
fındık = False
fıstık = False

# şerbet
su = True
seker = True

yumurta = True

yedim = kadayıf and (ceviz or fındık or fıstık) and (su and seker) and yumurta

yedim

True

# The Strength of Strings in Python

✔Indexing&Slicing Strings

✔String Formatting with Arithmetic Syntax

✔String Formatting with '%' Operator

✔String Formatting with 'string.format()' Method

✔String Formatting with 'f-string'

In [29]:
#  The formula syntax of string indexing is : string[start:stop:step]

In [30]:
city = "Phoenix"

print(city[1:])
print(city[:6])
print(city[::2])
print(city[1::2])
print(city[-3:])
print(city[::-1])

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [31]:
city = 'Phoenix'
print(city[-3:-7])
print(city[-7:-3])

Phoe

In [32]:
city = 'Phoenix'

print(city[::-1])

xineohP

In [33]:
print(city[-3:-7]) # start stop giderken soldan sağa akar, step pozitif olduğu için değişem yok, fakat işlem sğadan sola gitmek istediği için sonuç vermez

In [34]:
print(city[-3:-7:-1]) # bu kod çalışır çünkü, -1 step soldan sağa gidişi sağdan sol olarak değiştirdi

neoh

In [35]:
len(city)

7

In [36]:
sonuc = str((5+6)**2) + "125"
sonuc

'121125'

In [37]:
sonuc = ( sonuc + sonuc )
sonuc

'121125121125'

In [38]:
print(3*"no way!")

no way!no way!no way!

In [39]:
print(*"no way")

n o   w a y

In [40]:
x = "123456789"

print("%.3s" % x)

123

In [41]:
print("%(amount)d pounds of %(fruit)s left" % {"amount":33, "fruit":"bananas"})

33 pounds of bananas left

In [42]:
sentence = 12345678910111213

print(type("%.2d" % sentence))

<class 'str'>

# String Formatting with 'string.format()' Method

In [43]:
fruit = "Orange"
vegetable = "Tomato"
amount = 4

print('The amount of {} we bought is {} pounds'.format(fruit, amount))

The amount of Orange we bought is 4 pounds

In [44]:
print('The amount of {} we bought is {} pounds'.format("apple",7))

The amount of apple we bought is 7 pounds

In [45]:
"Ben sabah {saat} de uyandım. {yer}'a gittim. Gelirken de {miktar} kg elma aldım.".format(yer = "Okul", saat = "05:00", miktar = 2)

"Ben sabah 05:00 de uyandım. Okul'a gittim. Gelirken de 2 kg elma aldım."

In [46]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

# String Formatting with 'f-string'

In [48]:
fruit = 'Orange'
vegetable ="Tomato"
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [49]:
first_name = "Mesut"
last_name = "YILDIRIM"

output1 = "Hello, " + first_name + " " + last_name
output2 = "Hello, {} {}".format(first_name, last_name)
output3 = "Hello, {1} {0}".format(last_name, first_name)
output4 = f"Hello, {first_name} {last_name}"

print(output1)
print(output2)
print(output3)
print(output4)

Hello, Mesut YILDIRIM
Hello, Mesut YILDIRIM
Hello, Mesut YILDIRIM
Hello, Mesut YILDIRIM

# Main String Operations
✔Searching a String

✔Changing a String

✔Editing a String

In [ ]:
# ✔Searching a String # başta  ve sonda istenilen değerlerin varlığını kontrol eder, true ve false olarak çıktı verir.

In [6]:
text = 'www.clarusway.com'
print(text.endswith('.com'))
print(text.startswith('.com'))
print(text.startswith('.cla'))
print(text.startswith('ww'))

True
False
False
True

In [7]:
email = "clarusway@clarusway.com is my e-mail address"

print(email.startswith("@", 9))

print(email.endswith("-", 10, 32)) # index  stop gibi

True
True

# ✔Changing a String

- str.replace(old, new) : eskinin tüm oluşumlarını yeni ile değiştirir,
- str.swapcase()        : Büyük farfi küçük, küçük harfi büyük yapar,
- str.capitalize()      : Dizenin ilk harfini büyük yapar, dizedE ilk harf dışında büyük olanlar                           varsa küçük yapar,
- str.upper()           : Dizenin tüm karakterlerini büyük yapar,
- str.lower()           : Dizenin tüm karakterlerini küçük yapar
- str.title()           : Her kelimenin ilk harfini büyük yapar.
- str.count()           : belirtilen ifadenin dizede kaç adet geçtğini belirtir.

In [12]:
new = "mesUT yıldırım"
new.swapcase()
new_2 = new.swapcase()
print(new_2)

MESut YILDIRIM

In [9]:
print(new)

mesUT yıldırım

In [13]:
new = "mesUT yıldırım"
new.capitalize()

'Mesut yıldırım'

In [14]:
new = "mesUT yıldırım"
new.upper()

'MESUT YILDIRIM'

In [17]:
new = "mesUT yıldırım"
new.lower()

'mesut yıldırım'

In [18]:
new = "mesUT yıldırım"
new.title()

'Mesut Yıldırım'

In [19]:
new = "mesUT yıldırım"
new.count("e")

1

In [20]:
new = "mesUT yıldırım"
new.replace('ı', "a")

'mesUT yaldaram'

# ✔ Editing a String

- str.strip()   : Her iki taraftaki belirtilen ifadeleri alır ifade yoksa boşlukları alır
- str.rstrip()  : Sağ taraftaki belirtilen ifadeleri alır ifade yoksa boşlukları alır 
- str.lstrip()  : Sol taraftaki belirtilen ifadeleri alır ifade yoksa boşlukları alır

In [21]:
space_string = "     listen first      " # tüm boşlukları alır
print(space_string.strip())

listen first

In [24]:
"clarusway".strip("cy")

'laruswa'

# genel bir kaç husus

In [25]:
a = -1
print(-a)

1

In [26]:
a = 34
b = 56

print("The sum of {} + {} is : {} ".format(a,b,a+b))

The sum of 34 + 56 is : 90

In [27]:
text = "{:.2f}, {:.3f}, {:.4f}".format(3.1463, 5.367, 7.324324) # float değer istenildiğ için virgülden sonra sayılır

text

'3.15, 5.367, 7.3243'

In [28]:
text = "{:.2}, {:.3}, {:.4}".format(3.1463, 5.367, 7.324324)

text

'3.1, 5.37, 7.324'

In [30]:
text = "{:.1s}, {:.3s}, {:.4s}".format("a3.1463", "5.b367", "7.324324c") # kaç karakter istenilmişse o kadar alınır
text

'a, 5.b, 7.32'

In [31]:
text = "{:.1}, {:.3}, {:.4}".format("a3.1463", "5.b367", "7.324324c") 
text

'a, 5.b, 7.32'

In [33]:
text = "{:>10}".format("test")  # süslü parantaz içine "test" kelimesini ekler ve 10 karakterlik yer açar ve kelimeyi sağa yaslar

text

'      test'

In [35]:
text = "{:<10}".format("test")
text

'test      '

In [36]:
"{:10.5}".format("hippopotamus") # 10 karakterlik bir alan yazdır ve ilk beş karakterini yazdır

'hippo     '

# Collection Types

- Lists
- Tuples
- Dictionaries
- Sets

* Lists

In [ ]:
# list değerleri virgülle ayrılmış köşeli parantez içine alınarak oluşturulabilir 👉🏻 [].

In [39]:
country = ["USA", "Brasil", "UK", "Germany", "Turkey", "New Zealand"]

print(country)

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

In [40]:
string = "I quit smoking"

In [42]:
new_list = list(string)
new_list

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']

In [43]:
new_list2 = [string] # this is a single element list # eğer köşeli parantez şeklinde çıktı istenilirse, liste formatında tek bir elaman gibi çıkar
new_list2

['I quit smoking']

In [ ]:
# sonuç olarak bir stringi list olarak elde etmek istiyorsak; list fonksiyonu içine alırız ya da [] köşeli parantez içine de alabiliriz

 Basic Operations with Lists

- insert() :  index li belirtilen bölüme ekleme yapar
- append() :  ekleme yapar
- remove() : istenilen değeri siler
- sort()   : değerleri alfabetik sıralar

 -  .append()

In [44]:
empty = []
empty.append(144)
print(empty)

[144]

In [47]:

empty.append("north")
print(empty)

['west', 'north']

In [49]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]

city.append("Addis Baba")

city

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Baba']

- insert() :

In [51]:
city.insert(3, 'Berlin')

city

['New York',
 'London',
 'Istanbul',
 'Berlin',
 'Berlin',
 'Seoul',
 'Sydney',
 'Addis Baba']

In [57]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]

city.remove("London")

city

['New York', 'Istanbul', 'Seoul', 'Sydney']

In [59]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]

city.clear()
city

[]

In [61]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]

city.sort()  #sort methodu ile diziyi büyükten küçüğe doğru sıralama

city

['Istanbul', 'London', 'New York', 'Seoul', 'Sydney']

- list.extend(iterable),  bir listeyi diğer listeye ekler

In [63]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]

country = ["USA", "DE", "TR", "B"]

city.extend(country)

city

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'USA', 'DE', 'TR', 'B']

In [66]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]

city.pop(0)

city

['London', 'Istanbul', 'Seoul', 'Sydney']

In [68]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]

new_pop= city.pop(0)

print(new_pop)

New York

In [69]:
city[2:4]

['Seoul', 'Sydney']

In [71]:
city.reverse()

city

['London', 'Istanbul', 'Seoul', 'Sydney']

In [84]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
at = city.sort()
print(at)
# print(city)
# b = a.reserve()

None

In [93]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]

city.sort()

city

new = city.reverse()

print(new)

None

In [97]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]


city.append("sivas")

new = city

print(new)

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'sivas']

In [100]:
liste = [43,35,78,13,5,86,90]

liste.sort(reverse=True)

liste

[90, 86, 78, 43, 35, 13, 5]

In [101]:
liste = [43,35,78,13,5,86,90]

liste.sort()

liste

[5, 13, 35, 43, 78, 86, 90]

In [102]:
ord("b")  #  kodun değerini verir

98

In [104]:
chr(98)

'b'

In [105]:
chr(98) # ASCII kodunun sayısal değeri yazılır, karakter bulunur

'b'

In [106]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

city[1] = 'Melbourne'  # we assign 'Melbourne' to index 1 # variable ye köşeli parantaz ile indexte eklenmesi gereken value yeri belli edilir, eski değer iptal olur

print(city)

['New York', 'Melbourne', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

# Accessing Lists

✔Indexing a List

✔Slicing a List

✔Negative Indexing & Slicing

In [ ]:
## a- Indexing a List

In [107]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])

blue

In [108]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list = []

city_list.append(city)

print(city_list)

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [109]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2])

Istanbul

In [ ]:
## b- Slicing a List

In [ ]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])

In [110]:
range(15)

range(0, 15)

In [111]:
print(range(15))

range(0, 15)

In [113]:
count = list(range(15))

print(count)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [114]:
print(count[0:15:2])

[0, 2, 4, 6, 8, 10, 12, 14]

In [115]:
print(count[1:15:2])

[1, 3, 5, 7, 9, 11, 13]

In [116]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

nums[-1]

14

In [117]:
print(len(nums)-1)

14

In [118]:
print(len(nums))

15

# Tuples

- Tuples are immutable 
- Tuples are faster than list.
normal parentheses 👉🏻'()' are used.

In [119]:
empty_tuple = ()

print(type(empty_tuple))

<class 'tuple'>

In [120]:
try_tuple = ("love")

print(try_tuple)

love

In [121]:
print(type(try_tuple))

<class 'str'>

In [123]:
try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple))

('love',)
<class 'tuple'>

In [124]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)

('mercury', 'jupiter', 'saturn')

In [126]:
my_tuple = (1,4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [128]:
mountain = tuple("Alps")

print(mountain)

('A', 'l', 'p', 's')

In [129]:
x = "blue", "yellow", "orange"

print(type(x))

<class 'tuple'>