In [ ]:
# 1. Which of the following are valid ways to specify the string literal foo'bar in Python?
# pythondaki geçerli yöntem hangisidir
# A. """foo'bar"""
# B. 'foo\'bar'
# C. 'foo'bar'
# D. 'foo''bar'
# E. "foo'bar"

In [3]:
# print('foo\'bar')
# print("""foo'bar""")
# print('foo\'bar')
# print('foo'bar')
print('foo"bar')
# print("foo'bar")

foo"bar

In [5]:
# What is the output of the following code snippet in Python?

if 'bar' in {'foo': 1, 'bar': 2, 'baz': 3}:
     print(1)
     print(2)
     if 'a' in 'quxa':
        print(3)
print(4)

1
2
3
4

In [49]:
# What is the expression involving x that accesses the value 30 in Python?
#dict values keys ile ulaşabiliriz

x = [
     'a',
     'b',
     {
       'foo': 1,
       'bar':
       {
          'x' : 10,
          'y' : 20,
          'z' : 30
       },
        'baz': 3
    },
    'c',
    'd'
]

'z' in x[2]
# 'bar' in x[2]

False

In [29]:
print(x[2]["bar"]["z"])

30

In [44]:
'z' in x[2]

False

In [43]:
# myobj = {"apple", "banana", "cherry"} # set

# myobj = {first:"apple", second : "banana", thirdy:"cherry"} # dict

# myobj = ("apple", "banana", "cherry") # tuple

# myobj= ["apple", "banana", "cherry"]   # list



# set ve dict unordered, list ve tuple ordered
# not :dict keys ile ulaşılabilmektedir.



print(myobj[1])

apple

In [ ]:
#  List

- ordered
- mutable

# Tuple

- ordered
- immutable

# Dict

- unordered 
- mutable

# set 

- mutable
- unordered
- unchanglebed

In [42]:
#set
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

#dict
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.update({"color": "White"})

print(car)


# list
fruits = ["apple", "banana", "cherry"]

fruits.append("orange")

print(fruits)


# tuple

# tuple is immutable, tuple has not add method

{'apple', 'orange', 'banana', 'cherry'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}
['apple', 'banana', 'cherry', 'orange']

In [63]:
#  What is the correct way to instantiate this Dog class in Python?

class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age
# Dog("Ted", 3)

    def __str__(self):   # görebilmek için str methodu kullanılması lazım
        return f"{self.name} {self.age}"

print(Dog("Tedx", 3))

Tedx 3

In [ ]:
# 7. In Python, what is a function within a class definition?
# A. Operation
# B. Method
# C. Callable
# D. Class function

answer :    B

In [ ]:
# 9. Which SQL keyword is used to sort the result-set?
# A. SORT
# B. ORDER
# C. SORT BY
# D. ORDER BY

SELECT column1, column2, ...
FROM table_name
ORDER BY column1, column2, ... ASC|DESC;

# D. ORDER BY

In [ ]:
# 10. With SQL, how do you select all the records from a table named "Persons" where the value of the
# column "FirstName" is "Peter"?
# A. SELECT * FROM Persons WHERE FirstName='Peter'
# B. SELECT * FROM Persons WHERE FirstName<>'Peter'
# C. SELECT [all] FROM Persons WHERE FirstName='Peter'
# D. SELECT [all] FROM Persons WHERE FirstName LIKE 'Peter'


A. SELECT * FROM Persons WHERE FirstName='Peter'